<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Wonder Wallet</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!--- Custom CSS -->
    <link href="css/custom.css" rel="stylesheet">
    
    <!--- animate text css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    <!---Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!--Highcharts -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>

   
   <!--hover css -->
   <link href="css/hover-min.css" rel="stylesheet">

     <script type="text/javascript" src="js/plaidcall.js"></script>


<!--     <script type="text/javascript" src = "js/plaidbuttons.js"></script> -->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
       
<div class="container-fluid"> 
       
    <!-- Second navbar for categories -->
    <nav class="nav nav-pills">
     <div class="conatiner">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div id="logo">
          <a class="navbar-brand" href="dashboard"><div id="logo">
        <i class="fa fa-google-wallet animated fadeInRightBig" aria-hidden="true"></i>onder <br> &nbsp; &nbsp; <i class="fa fa-google-wallet animated fadeInRightBig" aria-hidden="true"></i>allet
        </div>
      </div></a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="dashboard" class="btn btn-lg hvr-underline-from-center">Dashboard</a></li>
            <li><a href="insights" class="btn btn-lg hvr-underline-from-center">Insights</a></li>
            <li><a href="goals" class="btn btn-lg hvr-underline-from-center">Goals</a></li>
            <li><a href="home" class="btn btn-lg hvr-underline-from-center">Switch Account</a></li>
            <li><a href="logout" class="btn btn-lg hvr-underline-from-center">Logout</a></li>
            
          </ul>
          
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
</div>

          <!-- plaid buttons 
          <div id="app">
            <div class="box">
              <button id="get-accounts-btn">Get Accounts</button>
              <div id="get-accounts-data"></div>
            </div>

            <div class="box">
              <button id="get-item-btn">Get Item</button>
              <div id="upgrade-to-connect-data" class="inner"></div>
            </div>

            <div class="box" id="txnBox">
              <button id="get-transaction-data">Get Transactions</button>
              <div id="get-transactions-data"></div>
            </div>
          </div>

        end plaid buttons -->

          </li>
            </ul>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>
</div>
     <div id="page-wrapper">
                <!-- Page Heading -->        
                <div class="alert alert-white">
                    <div class="col-lg-12">
                        <h2 class="page-header">
                            <i class="fa fa-dashboard"></i> My Dashboard <small>Overview</small>
                    </div>
                </div>
                <!-- /.row -->         
                <div class="row">
                    <div class="col-lg-12">
                    <h2>
                        <div class="alert alert-success">
                            <i class="fa fa-money" aria-hidden="true"></i> <span id="networth"> Net Worth: $3,000,0000 </span>
                        </div>
                    </h2>
                    </div>
                </div>
                <!--graph chart -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Assets vs Debt</h3>
                            </div>
                            <div class="panel-body">
                                <div id="morris-bar-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <!--Juan nixed the donut charts -->
                <!--donut chart assets 
              
                        <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Assets</h3>
                            </div>
                            <div class="panel-body">
                                <div id="morris-area-chart-assets"></div>
                                <div class="text-right">
                                    <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    
                    </div>
            
                    donut chart debt -->
                    <!---
                  <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Debt</h3>
                            </div>
                            <div class="panel-body">
                                <div id="morris-area-chart-debt"></div>
                                <div class="text-right">
                                    <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            -->

                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                            
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="lead"> Account 1</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">              
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="lead">Account 2</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="lead">Account 3</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="lead"> Account 4</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row -->                

                     <!-- panel with acount tabbed left and transactions panes to go here -->
                  <div class = "row">
                    <div class="col-lg-12 panel <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Transactions</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped table-fixed">
                                        <thead>
                                            <tr>
                                                <th>Account</th>
                                                <th>Order Date</th>
                                                <th>Name</th>
                                                <th>Amount (USD)</th>
                                                <th>Category</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                              </div>
                        </div>

                    </div>
    
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- <script src="js/plaidbuttons.js"></script> -->
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="js/plugins/morris/raphael.min.js"></script>
    <script src="js/plugins/morris/morris.min.js"></script>
    <script src="js/plugins/morris/morris-data.js"></script>

    

</body>

<script type="text/javascript">



</html>
