<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Wonder Wallet</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

<!--     Morris Charts CSS
<link href="css/plugins/morris.css" rel="stylesheet">
 -->
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!--- Custom CSS -->
    <link href="css/custom.css" rel="stylesheet">

    <!--- Custom CSS -->
    <link href="css/goals.css" rel="stylesheet">

    <!-- animate text css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!--Highcharts -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<!--     <script type="text/javascript" src = "js/plaidbuttons.js"></script> -->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div class="container-fluid">
        <div class="nav nav-pills">
            <div class="container">

                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                            </button>
                            <div id="logo">
                                <i class="fa fa-google-wallet animated fadeInRightBig" aria-hidden="true"></i>onder <br> &nbsp; &nbsp; <i class="fa fa-google-wallet animated fadeInRightBig" aria-hidden="true"></i>allet
                            </div>
                        </div>
                        <div class="collapse navbar-collapse" id="navbar-collapse-1">
                          <ul class="nav navbar-nav navbar-right">
                            <li><a href="dashboard" class="btn btn-lg hvr-underline-from-center">Dashboard</a></li>
                            <li><a href="insights" class="btn btn-lg hvr-underline-from-center">Insights</a></li>
                            <li><a href="goals" class="btn btn-lg hvr-underline-from-center">Goals</a></li>
                            <li><a href="home" class="btn btn-lg hvr-underline-from-center">Switch Account</a></li>
                            <li><a href="logout" class="btn btn-lg hvr-underline-from-center">Logout</a></li>
                            
                          </ul>
                          
                        </div>

            </div>
        <div class="container-fluid">   

                <!-- /.row -->
                <!-- /.row -->
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-dashboard"></i> Goals <small>Progress Overview</small></h2>
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">Add new goal</button>
                </div>
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                    <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add New Goal</h4>
                            </div>
                            <form method="post">
                                <div class="form-group">
                                  <label>Category</label>
                                  <input type="text" class="form-control" name="category">
                                </div>
                                <div class="form-group">
                                  <label>Amount</label>
                                  <input type="text" class="form-control" name="amount">
                                </div>

                              </form>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <i class="fa fa-fw fa-check"></i> Entertainment
                        </a>

                        <div class="progress progress-striped active">
                            <p class="alert-success raised"><strong>Amount Spent: $250</strong></p>
                            <p class="alert-success goal"><strong>Goal: $300</strong></p>

                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                <span class="sr-only">80% Complete</span>
                            </div>
                        </div>
                    </div>
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <i class="fa fa-fw fa-check"></i> Clothing
                        </a>

                        <div class="progress progress-striped active">
                            <p class="alert-success raised"><strong>Amount Spent: $100</strong></p>
                            <p class="alert-success goal"><strong>Goal: $500</strong></p>

                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                                <span class="sr-only">20% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- <script src="js/plaidbuttons.js"></script> -->

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="js/plugins/morris/raphael.min.js"></script>
    <script src="js/plugins/morris/morris.min.js"></script>
    <script src="js/plugins/morris/morris-data.js"></script>

    

</body>
<script type="text/javascript">

// push month digits into an array for display on x axis for barchart
function pushMo(monthToAdd, repeat, monthArr){
     for (var i = repeat; i > 0; i-- ){
          monthArr.push(monthToAdd);
          console.log("line 255 " + monthToAdd + " " + monthArr);
          monthToAdd++;
        }
}


function getAvg(avgArr, inputArr){
    var avg = 0;
    for (var i = 0; i < inputArr.length; i++){
         avg += inputArr[i];
    }
    avg = avg/inputArr.length;
     for (var i = 0; i < inputArr.length; i++){
         avgArr.push(avg);
    }   
}


function barchart(){
    var d = new Date();
    var currentMo = d.getMonth() + 1;
    var monthArr = [];
    var incomeArr = [6,7,5,8,6,7];
    var expenseArr = [4,3,5,2,3,4];
    var avgArr = [];
 
    // Get the average of expenses over the period for display in line plot
    getAvg(avgArr, expenseArr);

    // Populate the array with the last 6 months to be displayed on x-axis
    // if the current month is April or earlier, push months from previous years first and then push current years months
    if (currentMo<6) {
        pushMo(12 - 6 + currentMo + 1, 6 - currentMo, monthArr);
        pushMo(1, currentMo, monthArr);
    } else {
        // the current month is later than April so push 6 months from the current year
        pushMo(currentMo - 6 + 1, 6, monthArr);       
    }
    // establish an array to store chart colors
   var colors =[];
   // use Highcharts to display bar chart with expenses and income
     Highcharts.chart('barChart', {
  title: {
        text: 'Net Spending'
    },
    colors: ['#cbf390', '#b0c0d6', 'black'],
    xAxis: {
        categories: monthArr
    },
    labels: {
        items: [{
            // html: 'Total fruit consumption',
            style: {
                left: '50px',
                top: '18px',
                color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
            }
        }]
    },
    plotOptions: {
                column: {
                    pointPadding: -.2,
                    borderWidth: 0
                }
            },
    series: [{
        type: 'column',
        name: 'Income',
        data: incomeArr,
       color: colors[0]
    }, {
        type: 'column',
        name: 'Expenses',
        data: expenseArr,
        color: colors[1]
    }, {
        type: 'spline',
        name: 'Average',
        data: avgArr,
        marker: {
            enabled: false,
            lineWidth: 2,
            lineColor: Highcharts.getOptions().colors[2],
            fillColor: 'black'
        }
    }]
});
}


</html>
