/* Dashboard page */ 

/* Google font Open Sans */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
   font-family: 'Open Sans',serif;

}
.navbar-right{
	font-size: 20px;

}
.navbar-brand {
	font-size: 30px;
	color: black;
	text-align: center;
}

#networth, #summary {
	font-weight: bolder;s
	
}

#logo {
	font-size: 40px;
}

.fa-google-wallet {
	color: green;
}

.morris-area-chart-debt {
  font: red;
}

.panel-title {
	font-size: 20px;
}

table {
        width: 100%;
    }

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;

    /*text-align: left;*/
}

tbody {
    height: 150px;
    overflow-y: auto;
}

thead {
    /* fallback */
}


tbody td, thead th {
    width: 19.2%;
    float: left;
}